<h1>Projects App</h1>

<a href="/auth/login">Login</a>
<a href="/auth/register">Register</a>
<a href="/projects/my">Moji projekti</a>
<a href="/projects/member">Sudjelujem</a>
<a href="/projects/archive">Arhiva</a>
<a href="/auth/logout">Logout</a>
