<h2>Edit</h2>

<form method="POST">
<input name="naziv" value="<%= project.naziv %>">
<input name="opis" value="<%= project.opis %>">
<input name="cijena" value="<%= project.cijena %>">
<h3>Dodaj posao</h3>

<form action="/projects/<%= project._id %>/tasks" method="POST">
    <input type="text" name="posao" placeholder="Npr. Dizajn baze" required>
    <button type="submit">Dodaj</button>
</form>

<button>Spremi</button>
</form>
