<h1>Novi projekt</h1>
<form method="POST" action="/projects">
Naziv: <input name="naziv"><br>
Opis: <input name="opis"><br>
Cijena: <input name="cijena"><br>
Poslovi: <input name="poslovi"><br>
Datum početka: <input type="date" name="datumPocetka"><br>
Datum završetka: <input type="date" name="datumZavrsetka"><br>
<button>Spremi</button>
</form>
