<h2>Novi projekt</h2>

<form method="POST">
<input name="naziv" placeholder="Naziv">
<input name="opis" placeholder="Opis">
<input name="cijena" placeholder="Cijena">
<input name="poslovi" placeholder="Poslovi">
<input type="date" name="datumPocetka">
<input type="date" name="datumZavrsetka">
<button>Spremi</button>
</form>
